<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./../static/css/index.css') }}">
    <title>Car Dealz</title> 
</head>
<body>
    <body>
        <main>
            <section class="leftSide">
                <form class="newRegister" action="/users/register" method="POST">
                    <ul>
                    {% with messages = get_flashed_messages(category_filter=['register']) %}
                        {% if messages %} 
                        <li class="addInput">
                            <strong>Flash AHHHHHHH!!!!</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </li>
                        {% endif %}
                    {% endwith %}

                        <li><h1>Register</h1></li>
                        <li class="addInput">
                            <label for="first_name">
                                First Name:
                            </label>
                            <input type="text" id="first_name" name="first_name" />
                        </li>
                        <li class="addInput">
                            <label for="last_name">
                                Last Name:
                            </label>
                            <input type="text" id="last_name" name="last_name" />
                        </li>
                        <li class="addInput">
                            <label for="email">
                                Email:
                            </label>
                            <input type="text" id="email" name="email" />
                        </li>
                        <li class="addInput">
                            <label for="password">
                                Password:
                            </label>
                            <input type="password" id="password" name="password" />
                        </li>
                        <li class="addInput">
                            <label for="password">
                                Confirm Password:
                            </label>
                            <input type="password" id="password" name="password" />
                        </li>
                        <li>
                            <button type="submit" value="Register">
                                Register
                            </button>
                        </li>
                    </ul>
                </form>
            </section>
            <section class="rightSide">
                <form action="/login" method="POST">
                    <div class="userLogin" >
                        <ul>
                            {% with messages = get_flashed_messages(category_filter=['login']) %}    
                                {% if messages %}
                                <li class="addInput">
                                    <strong>Flash AHHHHHHH!!!!</strong>
                                    {% for message in messages %}
                                        <p>{{message}}</p>
                                    {% endfor %}
                                </li>
                                {% endif %}
                            {% endwith %}
                            <li><h1>Login</h1></li>
                            <li class="addInput">
                                <label for="email">
                                    Email:
                                </label>
                                <input type="text" id="email" name="email" />
                            </li>
                            <li class="addInput">
                                <label for="password">
                                    Password:
                                </label>
                                <input type="password" id="password" name="password" />
                            </li>
                            <li>
                                <button type="submit" value="Register">
                                    Register
                                </button>
                            </li>
                        </ul>
                    </div>
                </form>
            </section>
        </main>
    </body>
    </html>
</body>
</html>